body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* flexbox to store my page */

.container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f1;
    min-height: 100vh;
}

/* middle of each page */

.content {
    display: flex;
    max-width: 1000px;
    text-align: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 50px;    
    margin-bottom: 50px;
    margin-top: 50px;
}

.middle-of-the-page {
    padding: 10px;
    padding-top: 0;
}


/* navigation bar css */

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 5px 5px grey;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.header-links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 700;
}

.header-links li a:hover {
    color: rgb(120, 192, 214);
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

.circle {
    min-height: 50px;
    width: 50px;
    background-color: #bb0000;
    border-radius: 50%;
    display: inline-block;
}

img.origami1 {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 250px;
    width: 100%;
}

img.origami2 {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 250px;
    width: 100%;
}

/* hamburger header */

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(37, 37, 37);
}

@media(max-width: 1115px) {

    header {
        flex-direction: column; 
        box-shadow: none;
    }

    img.origami1 {
        display: none;
    }

    img.origami2 {
        display: none;
    }

        p {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
    }

    .middle-of-the-page {
        padding: 0;
        margin: 0;
    }

    .content {
        background-color: #f3f3f1;
        margin: 0;
        padding: 20px;
    }

    .quiz {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        text-align: center;
    }

}

@media(max-width: 850px) {
    .hamburger-menu {
        display: block;
    }

    .nav-bar {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        text-align: center;
        border-radius: 2px;
    }

    .header-links {
        flex-direction: column;
        text-align: right;
        padding: 5px;
    }

    .header-links li {
        margin: 16px 0px;
        text-decoration: underline red;
    }

    .nav-bar.active {
        right: 0;
        width: 200px;
        margin-left: auto;
    }

    header {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    p {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
    }

    .middle-of-the-page {
        padding: 0;
        margin: 0;
    }

    .content {
        background-color: #f3f3f1;
        margin: 0;
        padding: 20px;
    }
}

/* footer css */

.footer {
    background-color: #f3f3f1;
    margin-top: auto;
    text-align: center;
    z-index: 1;
    bottom: 0;
}

.wave svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.wave {
    background-color: rgb(201, 201, 201);
    margin-top: auto;
    text-align: center;
    z-index: 1;
}

/* general stuff that should be unified on pages */

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration: underline red;
    font-size: 25px;
}

/* button view */

.go_next {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: rgb(161, 212, 228);
    border-radius: 10px;
    margin: 2px;
    border-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.go_next:hover {
    background-color: aqua;
}

.go_next_profile {
    padding: 5px 10px;
    background-color: rgb(161, 212, 228);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.go_next_profile:hover {
    background-color: aqua;
}

.profile_center {
    text-align: center;
}

.go_back {
    display: flex;
    align-items: center;
    font-size: 19px;
    gap: 20px;
    margin-top: 10px;
}

.go {
    padding: 5px;
    font-weight: 700;
}

/* table view */

table {
    text-align: center;
}

th {
    background: rgb(120, 192, 214);
    font-size: 20px;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: #ffffff;
}

td {
    font-size: 20px;
    padding: 10px;
}

tbody tr:hover {
    background: rgb(241, 191, 191);
  }

.rowspan_list {
    background-color: #f2f2f2;   
}

/* quiz display */

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-quiz {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-size: 45px;
    margin-bottom: 10px;
}

#answer {
    padding: 15px 10px;
}

.quiz-results {
    display: flex;
    align-items: center;
    font-size: 19px;
    gap: 20px;
}

.result {
    font-weight: 700;
    font-size: 19px;
}

/* submition form */

.submition_form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
}

/* messages */

#output-section-success {
    background-color: rgba(162, 214, 120, 0.5);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 250px; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }

  .output-error {
    background-color: rgba(214, 120, 133, 0.5);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 250px; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 5px;
  }

  .output-success {
    background-color: rgba(181, 214, 120, 0.5);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 250px; 
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 5px;
  }
  
  

