body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f3f3f1;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #bb0000;
    border-radius: 50%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header-links {
    display: flex;
    gap: 5px;
}

li.header-link {
    padding: 20px;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}


h1 {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #f3f3f1;
    margin-top: auto;
    text-align: center;
    z-index: 1;
}

.content {
    display: flex;
    width: 1000px;
    text-align: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
    margin-bottom: 50px;
}

.wave svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.wave {
    background-color: rgb(201, 201, 201);
    margin-top: auto;
    text-align: center;
    z-index: 1;
}

.go_next {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: rgb(120, 192, 214);
    border-radius: 10px;
}

table {
    text-align: center;
}

th {
    background: rgb(120, 192, 214);
    font-size: 25px;
    padding: 10px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

td {
    font-size: 20px;
    padding: 10px;
}

tbody tr:hover {
    background: rgb(241, 191, 191);
  }

.origami {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-quiz {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 50px;
    margin-bottom: 10px;
}

#answer {
    padding: 15px 10px;
    font-size: 17px;
}

button {
    background-color: rgb(120, 192, 214);
    padding: 10px 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 19px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: aqua;
}

.quiz-results {
    display: flex;
    align-items: center;
    font-size: 19px;
    gap: 20px;
}

.result {
    font-weight: 700;
    font-size: 19px;
}

.go_back {
    display: flex;
    align-items: center;
    font-size: 19px;
    gap: 20px;
    margin-top: 10px;
}

.go {
    padding: 5px;
    font-weight: 700;
}

.login {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.rowspan_list {
    background-color: #f2f2f2;   
}
