extends ../layout

block content
  table.radicals-table.radicals-font
    thead
      tr
        th Radical
        th Reading
        th Meaning
    tbody
      each character in radicals
        tr
          td= character.Radical
          td= character.Reading
          td= character.Meaning
