extends ../layout

block content
    h2 Lvl 1 - Katakana 
    p Description 
    a.go_next(href='quiz') Quiz
    h2 Lvl 2 - Dakuten and Handakuten
    p Description 
    a.go_next(href='dakuten_quiz') Quiz 
    h2 Lvl 3 - Combinations
    p Description 
    a.go_next(href='combinations_quiz') Quiz
    h2 Lvl 4 - Final Test 
    p Description 
    a.go_next(href='final_test') Quiz

    