extends ../layout

block title 
  title='KakuLearn | History'

block content
  .breadcrumb
    a(href='/') Homepage
    span.separator.current-location › 
    a.current-location(href='/history') History

  h1 History of the Japanese writing system
  p Japanese writing evolved from Chinese characters and underwent many transformations before becoming the way it is today.
  h2 Early Influences
  p Between the 3rd and 5th centuries, Korean scholars brought Chinese texts to Japan. This marked the beginning of the use of Chinese characters in Japan. Initially, Japanese texts were written using Chinese characters, which caused many problems due to significant differences between the languages.
  h2 Challenges and Adaptations
  p One major issue was that Chinese characters couldn't represent Japanese grammatical endings. To solve this, Japanese scholars used Chinese characters with similar sounds, regardless of their meanings, a system known as man’yōgana. This method became popular in the 8th century, but it created confusion as the same word could be written in many different ways.
  h2 Birth of Hiragana and Katakana
  p Around the 9th century, scholars' notes led to the creation of hiragana and katakana. These were simplified forms of Chinese characters representing Japanese syllables. Hiragana was considered "feminine" and used in personal writing, letters, and poetry. It was popular for its aesthetic appeal. Katakana was deemed "masculine" and used for official documents, with women rarely learning it.
  h2 Standardization Efforts
  p Over time, hiragana was used for grammatical endings, and katakana became common for foreign words. Despite their popularity, both scripts faced issues due to a lack of standardization. There were many variations in how characters were written, causing inconsistencies.
  h2 Modern Standardization
  p Around 1900, Japan began standardizing its writing system. Unified versions of hiragana and katakana were created. In 1946, an official list of kanji (Chinese characters used in Japanese) required for school was established, initially containing 1850 characters. This list was expanded to 2136 characters in 2010, known today as jōyō kanji.
  a.go_next(href='/') Go back

