extends layout

block title 
  title='KakuLearn | Radicals'
block content
  .breadcrumb
    a(href='/') Homepage
    span.separator.current-location › 
    a.current-location(href='/radicals') Radicals
  h1 What are radicals?
  p Radicals are components of Japanese kanji characters. Their characterization is rooted in the 18th century Kangxi dictionary.
  p Not all radicals are commonly used today, but having a basic knowledge of what they mean and familiarizing yourself with how they look, can help you in learning kanji later on. 
  p Recognizing radicals can also be helpful if you're planning on using a Japanese dictionary. They are organized by radicals.
  p Click the button below to see a full list of 214 radicals along with their meanings, variants and readings.
  a.go_next(href='radicals/list') List

  h2 Go to the quiz!
  p Are you up for the challange? Take one of our quizzes to test how well you know radicals!
  if user 
    a.go_next(href='radicals/quiz_lvl') Quiz
  else 
    a.go_next(href='/login') Log in to take the quiz!
