extends ../layout

block title 
    title='KakuLearn | Profile'

block content
    if user
        .breadcrumb
            a(href='/') Homepage
            span.separator.current-location › 
            a.current-location(href='/profile') Profile
        h1.profile_center It's nice to see you again #{user.username}!
        | &nbsp;
        a.go_next_profile.profile_center(href='/scores') See your quiz scores!
        | &nbsp;
        a.go_next_profile.profile_center(href='/hiragana_sets') See your hiragana flashcard sets!
        | &nbsp;
        a.go_next_profile.profile_center(href='/katakana_sets') See your katakana flashcard sets!
    else 
        script.
            window.location.href = '/';
        