extends ../layout

block content
  h2 Sign Up
  form(method='post', action='')
    div
      label(for='username') Username:
      input(class='login', type='text', placeholder='username', name='username', id='username')
    div
      label(for='password') Password:
      input(class='login', type='password', placeholder='password', name='password', id='password')
    div
      label(for='confirmPassword') Confirm Password:
      input(class='login', type='password', placeholder='password', name='confirmPassword', id='confirmPassword')
    div
      button(type='submit', value='Sign Up') Sign Up