extends ../layout

block title 
  title='KakuLearn | Sign Up'
block content
  .breadcrumb
      a(href='/') Homepage
      span.separator.current-location › 
      a.current-location(href='/signup') Sign Up
  h1 Sign Up
  form(method='post', action='')
    div
      label(for='username') Username
      input(class='submition_form', type='text', placeholder='username', name='username', id='username')
    div
      label(for='password') Password
      input(class='submition_form', type='password', placeholder='password', name='password', id='password')
    div
      label(for='confirmPassword') Confirm Password
      input(class='submition_form', type='password', placeholder='password', name='confirmPassword', id='confirmPassword')
    div
      button.go_next(type='submit', value='Sign Up') Sign Up