extends ../layout

block title 
  title='KakuLearn | Choose Radicals Quiz Level'
block content
  .breadcrumb
      a(href='/') Homepage
      span.separator › 
      a(href='/radicals') Radicals
      span.separator.current-location › 
      a.current-location(href='/radicals/quiz_lvl') Radicals Quiz Levels
  h1 Lvl 1 - Radicals with 1-3 strokes
  p Take this quiz to test your knowledge on the radicals which have from 1 up to 3 strokes.
  a.go_next(href='quiz_easy') Quiz
  h1 Lvl 2 - Radicals with 4-6 strokes
  p Take this quiz to test your knowledge on the radicals containg from 4 up to 6 strokes.
  a.go_next(href='quiz_medium') Quiz 
  h1 Lvl 3 - Radicals with 7 or more strokes
  p Take this quiz to test your knowledge on radicals containg 7 or more strokes.
  a.go_next(href='quiz_hard') Quiz
  h1 Lvl 4 - Final Test 
  p The final test combines all the topics listed above. Are you up for the challange? Click the button below!
  a.go_next(href='final_test') Quiz
