extends ../layout

block title 
  title='KakuLearn | Radicals Quiz Level Easy'
block content
    .breadcrumb
        a(href='/') Homepage
        span.separator › 
        a(href='/radicals') Radicals
        span.separator › 
        a(href='/radicals/quiz_lvl') Radicals Quiz Levels
        span.separator.current-location › 
        a.current-location(href='/radicals/quiz_easy') Quiz Lvl 1
    .quiz
        h1 What is the meaning of this radical?
        | &nbsp;
        .middle-quiz
            .aswers
                #question.radicals-font
                button.go_next#answer1(onclick='checkAnswer(this.innerText)') Answer A
                button.go_next#answer2(onclick='checkAnswer(this.innerText)') Answer B
                button.go_next#answer3(onclick='checkAnswer(this.innerText)') Answer C
        .quiz-results
            #questionNumber
            #result
        .correct-answer 
            #correct_answer_display.radicals-font
        .go_back
            #go_back_to
            #go_back_front.go
            #go_back_katakana.go
    
    script(src='../js/radicals_quiz.js')
