extends ../layout

block content
  h2 Edit Flashcard
  form(action=`/flashcard/update/${flashcard.id}`, method="POST")
    label( for="romaji") Romaji:
    input(class="submition_form" type="text", id="romaji", name="romaji", value=flashcard.romaji)
    br
    label(for="hiragana") Hiragana:
    input(class="submition_form" type="text", id="hiragana", name="hiragana", value=flashcard.hiragana)
    br
    button.go_next(type="submit") Save