extends ../layout

block content
  h2 Edit Set
  | &nbsp;
  if set.length === 0
    p No flashcards available for this set.
  else
    table
      thead
        tr
          th Romaji
          th Hiragana
          th Actions
      tbody
        each flashcard in set
          tr
            td= flashcard.romaji
            td= flashcard.hiragana
            td
              button.go_next(onclick=`deleteFlashcard('${flashcard.id}')`) Delete
              | &nbsp;
              button.go_next(onclick=`editFlashcard('${flashcard.id}')`) Edit

    script(src="../js/hiragana_converter.js")