extends ../layout

block title 
  title='KakuLearn | Hiragana Quiz'
block content
    .quiz
        h1 How can you read these hiragana characters?
        .middle-quiz
            #question
            input(type='text', id='answer', placeholder='Type your answer')
        .quiz-results
            #questionNumber
            #result
            button.go_next#submit_answer(onclick='checkAnswer()') Submit
        .correct-answer 
            #correct_answer_display
        .go_back
            #go_back_to
            #go_back_front.go
            #go_back_katakana.go
    
    script(src='../js/hiragana_quiz.js')
