extends ../layout

block content
    h2 Lvl 1 - Hiragana
    p Description 
    a.go_next(href='') Quiz
    h2 Lvl 2 - Dakuten and Handakuten
    p Description 
    a.go_next(href='') Quiz 
    h2 Lvl 3 - Combinations
    p Description 
    a.go_next(href='') Quiz
    h2 Lvl 4 - Final Test 
    p Description 
    a.go_next(href='') Quiz
