extends ../layout

block content
  .container
    h1 Romaji to Hiragana Converter

    // Form for input
    form(action="#" method="post")
      label(for="input") Enter Romaji text:
      textarea(id="input" name="input" placeholder="Enter Romaji text here" rows="4" cols="50")
      button(type="button" onclick="convertRomajiToHiragana()") Convert

    div#output-section(style="display: none;")
      h2 Result:
      p#output
      form(action="/set" method="post")
        label(for='name') Provide the name of your set:
        input(class='set', type='text', placeholder='your name', name='set', id='set')
        button(onclick='saveYourSet()') Save


    script(src="../js/hiragana_converter.js")
