extends layout

block content
  h2 What is KakuLearn?
  p KakuLearn is an app dedicated to beginners who are just starting out on their journey of learning Japanese. On this site you can learn about hiragana, katakana, radicals and their history.
  p The name of the website has a Japanese word "kaku" in it, which translates to "to write". That's because this website focuses on teaching you the basics of the writing system. 
  p Click on one of the links on the navigation panel at the top of the site or read a short history note found below this text to start. Good luck! Or how they say it in Japanese - がんばって (ganbatte)!

  h3 Interested in the origins of the Japanese writing system?
  p Click the button below to read a short history note on how the Japanese writing system came to be the way it is today.
  a.go_next(href='/about/history') History
