extends layout

block content
  h1 Edit Flashcard
  form(action=`/flashcard/update/${flashcard.id}`, method="POST")
    label(for="romaji") Romaji:
    input(type="text", id="romaji", name="romaji", value=flashcard.romaji)
    br
    label(for="hiragana") Hiragana:
    input(type="text", id="hiragana", name="hiragana", value=flashcard.hiragana)
    br
    button(type="submit") Save