extends layout

block title 
  title='KakuLearn | Hiragana'
block content
  h1 What is hiragana?
  p Hiragana is one of the two Japanese syllabic writing systems. Each of these systems provides a full list of sounds in the Japanese langugae. It consists of 46 characters and 25 diacritics. 
  p Hiragana is most commonly used to write grammatical particles, but also to provide a reading of Japanese kanji characters. 
  p Click the button below to see a full list of hiragana characters and their diacritics.
  a.go_next(href='hiragana/list') List

  h2 Go to the quiz!
  p Are you up for the challange? Take one of our quizzes to test how well you know hiragana!
  if user 
    a.go_next(href='hiragana/quiz_lvl') Quiz
  else 
    a.go_next(href='/') Log in to take the quiz!

  h2 Turn your favorite song lyrics into flashcards!
  p Bored with traditional learning methods? Create a set of flashcards with the lyrics of your favorite song to practice hiragana!
  if user 
    a.go_next(href='hiragana/converter') Converter
  else 
    a.go_next(href='/') Log in to use the converter!

