extends layout

block content
  h2 What is Hiragana?
  p Description...
  a.go_next(href='hiragana/list') List

  h2 Go to the quiz!
  p Description...
  if user 
    a.go_next(href='hiragana/quiz_lvl') Quiz
  else 
    a.go_next(href='/') Log in to take the quiz!

  h2 Turn your favorite song lyrics into flashcards!
  p Description...
  if user 
    a.go_next(href='hiragana/converter') Converter
  else 
    a.go_next(href='/') Log in to use the converter!

