extends layout

block title 
  title='Kaku Learn | Homepage'
block content
  .breadcrumb
      a.current-location(href='/') Homepage
      span.separator › 
  h1 What is KakuLearn?
  p KakuLearn is an app dedicated to beginners who are just starting out on their journey of learning Japanese. On this site you can learn about hiragana, katakana, kanji radicals and their history.
  p The name of the website has a Japanese word "kaku" in it, which translates to "to write". That's because this website focuses on teaching you the basics of the writing system. 
  p Don't know where to start? Click on one of the links on the navigation panel at the top of the website or read a short history note about the development of the Japanese writing system found below this text. 
  p Good luck! Or how they say it in Japanese - がんばって (ganbatte)!
  a.go_next(href='/history') History Note

  h2 Credits
  h3 The author of this website is Zuzanna Kwaśny
  p This service constitutes an integral part of the bachelor's thesis (field: electronic information processing), prepared under the supervision of Dr. Hab. Janusz Jurek, Professor at the Faculty of Management and Social Communication of the Jagiellonian University.

