extends layout

block content
    if user
      h1 WELCOME BACK #{user.username.toUpperCase()}
    else
      h2 Log In or Sing Up
      form(action='/login' method='POST')
        div
          label(for='username') Username
          input(class='login', name='username' placeholder='username' type='text')
        div
          label(for='password') Password
          input(class='login', name='password' placeholder='password' type='password')
        div
          button(type='submit') Log In 
          | &nbsp;
          button(type='button', onclick="window.location.href='/signup'") Sign Up