extends layout

block content
  h2 What is Katakana?
  p Description...
  a.go_next(href='katakana/list') List

  h2 Go to the quiz!
  p Description...
  a.go_next(href='katakana_quiz.html') Quiz

  h2 Turn your favorite song lyrics into flashcards!
  p Description...
  a.go_next(href='katakana_converter.html') Converter
