doctype html
html(lang='en')
  head
    block title
      title='KakuLearn'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header   
        .logo
          // Replace the circle and text with your logo image
          a(href='/') 
            img.logo-img(src='/images/logo.svg', alt='KakuLearn Logo')
        nav.nav-bar       
            ul.header-links
                li
                    a(href='/hiragana') Hiragana
                li.stick.low-stick |
                li
                    a(href='/katakana') Katakana
                li.stick.low-stick |
                li
                    a(href='/radicals') Radicals
                li.stick |         
                if user
                    li
                        a(href='/profile') Profile
                    li.stick.low-stick |
                    li
                        a(href='/logout') Log Out
                else
                    li
                        a(href='/login') Log In
                    li.stick.low-stick |
                    li
                        a(href='/signup') Sign Up
        .hamburger-menu
            span.bar 
            span.bar 
            span.bar 

      .middle-of-the-page  
        img.origami1(src='/images/zuraw.svg' alt='')
        img.origami2(src='/images/zuraw.svg' alt='')
        .content
            #output-section-success
            if successMessage && successMessage.length > 0
              ul
                each msg in successMessage
                  li.output-success= msg
            if message && message.length > 0
              ul
                each msg in message
                  li.output-error= msg             
            block content

      div.footer
        img#wave(src='/images/wave.svg' alt='')
    script(src='../js/hamburger.js')
