extends layout

block content
  h2 What are Radicals?
  p Description...
  a.go_next(href='radicals/list') List

  h2 Go to the quiz!
  p Description...
  if user 
    a.go_next(href='radicals/radicals_quiz') Quiz
  else 
    a.go_next(href='/') Log in to take the quiz!
