extends layout

block content
  h1 Your High Scores
  | &nbsp;
  if scores.length === 0
    p No scores available.
  else
    table
      thead
        tr
          th Level
          th Score
      tbody
        - var highestScores = {};
        each score in scores
          - if (!highestScores[score.lvl] || highestScores[score.lvl].score < score.score)
            - highestScores[score.lvl] = score;
        each level in Object.values(highestScores)
          tr
            td= level.lvl
            td= level.score
