extends layout

block content
  h1 Your Scores
  | &nbsp;
  if scores.length === 0
    p No scores available.
  else
    table
      thead
        tr
          th Level
          th Score
      tbody
        each score in scores
          tr
            td= score.lvl
            td= score.score
